<nav class="navbar fixed-top navbar-light mb-5 " style="background-color: #e3f2fd;">
    <div class="container">
     <ul class="nav ml-auto">
            <li class="nav-item">
        <%= link_to 'Staff', staffs_path, class: "nav-link" %>
        </li>
            <li class="nav-item">
        <%= link_to 'Projects', root_path, class: "nav-link" %>
        </li>
        </ul>
    </div>
</nav>